
<div class="container-fluid ps-0">
    <div class="row w-100 p-0">
        <div class="col-2" id="side" style="height:91vh;">
            <%- include('../side') %>
        </div>
        <div class="col-10">
          <div class="btn-group float-end" role="group" aria-label="Basic example">
            <a href="" class="btn btn-primary float-end mt-3"  data-bs-toggle="modal" data-bs-target="#exampleModal">Add Class and Fee</a>
          </div>
            
            <h4 class="mt-3 border-start border-4 px-2">Class Fee Structure </h4>

            <table class="table mt-4">
                <thead class="table-dark">
                  <tr>
                      <th>Class Name</th>
                      <th>New Admission Fee</th>
                      <th>Re-Admission Fee</th>
                      <th>Monthly Fee</th>
                      <th>Books and Accessories Fee</th>
                      <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                    <% data.forEach(data => { %>
                        <tr>
                            <td><%-data.class_name %></td>
                            <td><%-data.new_admission_fee%></td>
                            <td><%-data.re_admission_fee%></td>
                            <td><%-data.monthly_fee%></td>
                            <td><%-data.book_and_access_fee%></td>
                            <td>
                              <a href="/admin/delete-patient/<%= data._id%> " class="btn btn-sm btn-primary"><i class="bi bi-pencil"></i></i></a>
                              <a href="/admin/delete-patient/<%= data._id%> " class="btn btn-sm btn-danger"><i class="bi bi-trash"></i></i></a>
                            </td>
                        </tr>
                        <% }) %>
                </tbody>
              </table>
        </div>
    </div>
  </div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Class</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="" method="post">
            <div class="mb-3">
                <label for="education">Class Name</label>
                    <select name="class_name"  class="form-select">
                    <option selected disabled> select class </option>
                    <option value="class 1">class 1</option>
                    <option value="class 2">class 2</option>
                    <option value="class 3">class 3</option>
                    <option value="class 4">class 4</option>
                    <option value="class 5">class 5</option>
                    <option value="class 6">class 6</option>
                    <option value="class 7">class 7</option>
                    <option value="class 8">class 8</option>
                    <option value="class 9">class 9</option>
                    </select>
            </div>
        <div class="mb-3 row">
            <div class="col">
                <label for="name">New Admission Fee</label>
                  <input type="number" name="new_admission_fee" class="form-control">
            </div>
            <div class="col">
                <label for="name">Re-Admission Fee</label>
                <input type="number" name="re_admission_fee" class="form-control">
            </div>
            
        </div>
        <div class="mb-3 row">
            <div class="col">
                <label for="name">Monthly Fee</label>
                  <input type="number" name="monthly_fee" class="form-control">
              </div>
            <div class="col">
                <label for="education">Book and Accessories</label>
                <input type="number" name="book_and_access_fee" class="form-control">
            </div> 
        </div>
    </div>
    <div class="modal-footer">
      <input type="submit" class="btn btn-primary w-100" value="Create">
    </div>
        </form>
      </div>
      
    </div>
  </div>
</div>